@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body, body button{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-family: "Poppins", sans-serif;
}

/* Header */
header {
    background-color: #FFCC00;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    max-width: 100px;
}

.header-text h1 {
    font-size: 2rem;
}

.header-text p {
    font-size: 1rem;
    color: #555;
}

/* Navegação */
.navegation {
    margin-top: 20px;
}


.navegation nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Lista de navegação */
.navegation nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}


.navegation nav ul li a.menu {
    color: #333;
    text-decoration: none;
    position: relative;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.navegation nav ul li a.menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navegation nav ul li a.menu:hover::before {
    transform: scaleX(1);
}

/* Estilizando o ícone do carrinho */
.cart-icon {
    padding: 10px;
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 1000;
    font-size: 25px;
    background-color: #000000;
    border-radius: 10px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.cart-icon:hover{
    background-color: #f5f5f5;
}

/* Estilizando o carrinho */
.cart {
    position: fixed;
    top: 0;
    right: -400px;
    /* Inicialmente oculto fora da tela */
    width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
}

/* Cabeçalho do carrinho */
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

/* Botão de fechar no cabeçalho do carrinho */
.cart-header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Conteúdo do carrinho */
.cart-items {
    padding: 15px;
    /* Adicione estilos adicionais conforme necessário */
}

/* Rodapé do carrinho */
.cart-footer {
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
}

.cart-footer button{
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: initial; /* Cor inicial do texto */
    background-color: #afafaf; /* Cor inicial do plano de fundo */
    transition: color 0.5s ease, background-color 0.5s ease;
}

.cart-footer button:hover{
    color: black;
    background-color: #FFCC00;
}

/* Classe para mostrar o carrinho */
.cart.open {
    right: 0;
}

/* Classe para ocultar o ícone com animação */
.cart-icon.hidden {
    opacity: 0;
    pointer-events: none;
}

