@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    font-family: "Parkinsans", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    height: 100px;
    background-color: #f2f2f2; /* Cor de fundo opcional */
  }

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC00;
    padding: 20px;
    font-size: 25px;
    padding-left: 120px;
    
}

.header-content p {
    padding-bottom: 20px;
}

.navegation {
    position: absolute; 
    top: 0;
    right: 0; 
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 20px
}

.menu {
    width: 111px;
    background-color: #c79f00;
    border-radius: 5px;
  }

.navegation-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-left: auto;
    justify-content: center;
    list-style-type: none;  
}

.logo {
    width: 180px;
    height: auto;
    margin-right: 20px;
}

.header-text {
    text-align: left;
}

.banner {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('imgs/salao.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    height: 70vh; 
}

.banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;

}

section {
    padding: 20px;
    background-color: #f5f5f5;
}

.sobre-nos {
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.galeria .fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria .fotos img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.galeria .fotos img{
    width: 320px;
    height: 460px;
    border-radius: 5px;
}

.galeria .fotos img.dog{
    width: 700px;
}

.galeria .fotos img.salada{
    width: 300px;
}

.galeria .fotos img.king{
    width: 300px;
}