<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Julão's Burger - Meu Cardápio</title>
  <link rel="shortcut icon" href="/imgs/Logo Julãos Burguinho.png" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/styles/cardapio.css">
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/formCardapio.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar-mainbg">
    <div class="container">
      <a class="navbar-logo" href="#">Logo</a>
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <i class="fas fa-bars">&#9776;</i>
      </button>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><a href="admin_dashboard" class="nav-link">Home</a></li>
          <li><a href="cardapio" class="nav-link">Cardápio</a></li>
          <li><a href="pedidos" class="nav-link">Pedidos</a></li>
          <li><button id="logoutBtn">Sair</button></li>
        </ul>
        <div class="hori-selector"></div>
      </div>
    </div>
  </nav>

  <!-- MODAL DE CATEGORIA -->
  <div id="modalCategoria" class="modal">
    <div class="modal-content">
      <span class="close" id="FecharCategoria">&times;</span>
      <h2>Nova Categoria</h2>
      <form id="formCategoria">
        <input type="text" id="NovaCategoria" class="texto" placeholder="Nome da categoria" required />
        <button type="submit" id="Concluir">Concluir</button>
      </form>
    </div>
  </div>

  <!-- MODAL DE PRODUTO -->
  <div id="modalProduto" class="modal">
    <div class="modal-content">
      <span class="close" id="FecharProduto">&times;</span>
      <h2>Novo Produto</h2>
      <form id="formProduto">
        <label for="nomeProduto">Nome</label><br>
        <input type="text" id="nomeProduto" class="texto" placeholder="Ex: Cheese Burger..." required /><br>
        <label for="descricaoProduto">Descrição</label><br>
        <textarea id="descricaoProduto" class="texto" placeholder="Ex: Hamburguer, queijo..." required></textarea><br>
        <label for="precoProduto">Preço</label><br>
        <input type="number" id="precoProduto" class="texto" placeholder="Ex: 22,90..." required step="0.01" min="0"><br>
        <label for="produtoCategoria">Categoria</label><br>
        <select id="produtoCategoria" class="texto" required></select><br>
        <label for="produtoImagem">Imagem</label><br>
        <input type="file" id="produtoImagem" multiple accept="image/*"><br>
        <button type="submit" id="Concluir">Concluir</button>
      </form>
    </div>
  </div>

  <!-- CARDÁPIO ADMINISTRATIVO -->
  <section class="menu-admin">
    <div class="menu-header">
      <h2>Cardápio Principal</h2>
      <ul class="menu-tabs">
        <li class="active">Cardápio Principal</li>
        <li>Opcionais</li>
      </ul>
    </div>

    <div class="grupo-container">
      <!-- SIDEBAR DE CATEGORIAS -->
      <div class="grupo-sidebar" id="listaCategorias">
        <!-- Categorias serão carregadas aqui -->
        <button class="btn-novo-grupo">+ NOVA CATEGORIA</button>
      </div>

      <!-- DETALHES DA CATEGORIA ESCOLHIDA -->
      <div class="grupo-detalhes" id="detalhesCategoria">
        <p>Selecione uma categoria para visualizar os produtos.</p>

        <div class="botoes-acoes">
          <button id="btnAddProdutoEstatico" class="btn-adicionar">+ NOVO PRODUTO</button>
          <button class="btn-acao editar"><i class="fas fa-pen"></i></button>
          <button class="btn-acao excluir"><i class="fas fa-trash"></i></button>
        </div>


        <div id="produtosLista"></div>
      </div>

    </div>
  </section>

  <script src="/js/cardapio.js"></script>
  <script src="/js/login_cadastro.js"></script>
  <script src="/js/cardapioNavbarCategoria.js"></script>
  <script src="/js/Sortable.min.js"></script>

</body>

</html>