<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Julão's Burger - Pedidos</title>
    <link rel="shortcut icon" href="/imgs/Logo Julãos Burguinho.png" type="image/x-icon">
    <!-- Importa jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Link para o CSS -->
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="navbar-mainbg">
    <div class="container">
        <a class="navbar-logo" href="#">Logo</a>

        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars">&#9776;</i>
        </button>

        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li><a href="admin_dashboard" class="nav-link">Home</a></li>
                <li><a href="cardapio" class="nav-link">Cardápio</a></li>
                <li><a href="pedidos" class="nav-link">Pedidos</a></li>
                <li><button id="logoutBtn">Sair</button></li>
            </ul>
            <!-- Elemento para animação do item ativo -->
            <div class="hori-selector"></div>
        </div>
    </div>
</nav>


<script src=""></script>
<script src="/js/login_cadastro.js"></script>
<script src="/js/admin-check.js"></script>

</body>
</html>
